{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 31, "knowledge_revision": 64, "git_revision": "", "hash": "dcc94c405fc7484e1ec79fd6b4b49fef", "format-version": 4, "code-base-name": "default", "filename": "fastapi_backend_workspace/fastapi_backend/requirements.txt", "revision_history": [{"64": ""}]}